/*
 *	################################################
 *	Grid layout
 *	################################################
 */
#mainWrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 6em auto;
}


/*
 *	################################################
 *	Header styling
 *	################################################
 */
 header {
 	grid-row:    1;
 	grid-column: 1 / span 2;
 	background: #F1F3F4;
 	border-color: #d5d5d5;
 	border-bottom: 1px solid gray;
 }

#headline {
	width: 79%;
	display: inline-block;
	font-style: bolder;
	font-size: 3em;
	padding-top: 0.5em;
	text-align: center;
}

#logout {
	width: 20%;
	display: inline-block;
}


/*
 *	################################################
 *	Nav styling
 *	################################################
 */
 nav {
 	grid-row: 2;
 	grid-column: 1;
 	background: #fffbf0;
 	border-color: #e7c157;
 }

#sideMenu {
	width: 100%;
	max-height: 80vh;
	//height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: green;
}

.sideMenuItem {
	display: block;
	padding: 0.5em;
	font-size: 1.5em;
	text-align: center;
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
}

.sideMenuItem:hover {
	background-color: lightblue;
}


/*
 *	################################################
 *	Aside styling
 *	################################################
 */
 aside {
 	grid-row: 2;
 	grid-column: 2;
 	background: #ebf5d7;
 	border-color: #8db243;
 }

 .aside {
	display: none;
	//overflow-y: auto;
	background-color: red;
 }

#tabMenu {
	display: block;
	text-align: center;
	border-bottom: 1px solid gray;
	background-color: yellow;
}

.tabMenuItem {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-right: -5px; /* remove space between tabs */
	font-size: 1.25em;
}

.tabMenuItem:nth-child(1n) {
	border-left: 1px solid gray;
}

.tabMenuItem:last-child {
	border-right: 1px solid gray;
}

.tabMenuItem:hover {
	background-color: lightblue;
}

.tabContent {
	display: none;
	padding: 3em;
	background-color: yellow;
}


/*
 *	################################################
 *	Welcome page styling
 *	################################################
 */
#welcomePage {
	width: 100%;
	height: 100%;
	display: block;
	background-color: blue;
}

/*
 *	################################################
 *	Clock styling
 *	################################################
 */
 .clock {
	 display: inline-block;
	 font-size: 2em;
	 margin: 1em;
	 padding: 0.75em;
	 border: 1px solid gray;
	 border-radius: 25px;
 }


/*
 *	################################################
 *	Session handler styling
 *	################################################
 */
.sessionCreator {
	 width: 80%;
	 margin-left: auto;
	 margin-right: auto;
	 display: grid;
	 grid-template-columns: 2fr 2fr 2fr 2fr;
	 grid-row-gap: 1em;
	 //height: 500px;
	 background-color: lightblue;
}

.sessionCreator > div {
	border: 1px solid black;
}

.scItem1 {
	 grid-row: 1;
	 grid-column: 1 / span 2;
}

.scItem3 {
	grid-row: 1;
	grid-column: 3 / span 2;
}

.scItem5 {
	grid-row: 2;
	grid-column: 1 / span 4;
}


.scItem6 {
	grid-row: 3;
	grid-column: 1;
}

.scItem7 {
	grid-row: 3;
	grid-column: 2;
}

.scItem8 {
	grid-row: 3;
	grid-column: 3 / span 2;
}

.scItem9 {
	grid-row: 4;
	grid-column: 1;
}

.scItem10 {
	grid-row: 4;
	grid-column: 2;
}

.scItem11 {
	grid-row: 4;
	grid-column: 3 / span 2;
}


.scItem21 {
	grid-row: 5;
	grid-column: 1;
}

.scItem22 {
	grid-row: 5;
	grid-column: 2;
}

.scItem23 {
	grid-row: 5;
	grid-column: 3 / span 2;
}


.scItem31 {
	grid-row: 6;
	grid-column: 1;
}

.scItem32 {
	grid-row: 6;
	grid-column: 2;
}

.scItem33 {
	grid-row: 6;
	grid-column: 3 / span 2;
}


.scItem12 {
	grid-row: 7;
	grid-column: 1;
}

.scItem13 {
	grid-row: 7;
	grid-column: 2 / span 3;
}

.scItem14 {
	grid-row: 8;
	grid-column: 1 / span 2;
}

.scItem15 {
	grid-row: 8;
	grid-column: 3 / span 2;
}
