/*
 *	################################################
 *	Grid layout
 *	################################################
 */
#mainWrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 6em auto;
	grid-row-gap: 0.25em;
	grid-column-gap: 0.25em;
}

header {
 grid-row: 1;
 grid-column: 1 / span 2;
 border: 1px solid gray;
}

nav {
 grid-row: 2;
 grid-column: 1;
 border: 1px solid gray;
}

aside {
 	grid-row: 2;
 	grid-column: 2;
	border: 1px solid gray;
 }


/*
 *	################################################
 *	Header styling
 *	################################################
 */
#headline {
	width: 80%;
	display: inline-block;
	font-style: bolder;
	font-size: 3em;
	padding-top: 0.5em;
	text-align: center;
}

#logout {
	width: 19%;
	display: inline-block;
}


/*
 *	################################################
 *	Side menu styling
 *	################################################
 */
#sideMenu {
 	width: 100%;
 	max-height: 80vh;
 	overflow-x: hidden;
 	overflow-y: auto;
 	//background-color: green;
 }

#sideMenu > div {
 	display: block;
 	padding: 0.5em;
 	font-size: 1.5em;
 	text-align: center;
 	border: none;
 	border-bottom: 1px solid gray;
 	outline: none;
 }

#sideMenu > div:hover {
 	background-color: #99ccff;
 }

#sideMenu > div.active {
  background-color: dodgerblue;
}

#newProjectButton {
	display: block;
	padding: 0.5em;
	font-size: 1.5em;
	text-align: center;
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
	background-color: #356da5;
}

#newProjectButton:hover {
	background-color: #99ccff;
}

/*
 *	################################################
 *	Aside styling
 *	################################################
 */
.projectContent {
	display: none;
 }

#tabMenu {
	display: block;
	text-align: center;
	border-bottom: 1px solid gray;
}

#tabMenu > div {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-right: -5px; /* remove space between tabs */
	font-size: 1.25em;
}

#tabMenu > div:nth-child(1n) {
	border-left: 1px solid gray;
}

#tabMenu > div:last-child {
	border-right: 1px solid gray;
}

#tabMenu > div:hover {
	background-color: #99ccff;
}

#tabMenu > div.active {
	background-color: dodgerblue;
}

.tabContent {
	display: none;
	padding: 3em;
}

/*
 *	################################################
 *	Welcome page styling
 *	################################################
 */
#welcomePage {
	width: 100%;
	display: block;
	padding: 3em;
}

/*
 *	################################################
 *	Clock styling
 *	################################################
 */
 .clock {
	 display: inline-block;
	 font-size: 2em;
	 margin: 1em;
	 padding: 0.75em;
	 border: 1px solid gray;
	 border-radius: 25px;
 }


/*
 *	################################################
 *	Modal styling
 *	################################################
 */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
	background-color: #fefefe;
	width: 60%;
	margin: 8% auto;
	padding: 1em;
	border: 1px solid black;
}











